.cart-page {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: start;
    justify-content: center;
}

.cart-page-container {
    width: 100%;
    height: 100vh;
    background-color: white;
    max-width: 2000px;
}

.heading-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 1.5rem 0;
}

.cart-data-container {
    width: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: row;
}

.cart-products-container {
    width: 65%;
    height: auto;
    padding: 1rem 2rem;
    justify-content: center;
    align-items: start;

}

.products-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart-price-container {
    width: 100%;
    height: 100vh;
}

.cart-product-card-wrapper {
    width: 90%;
    max-height: 200px;
    /* border: 1px solid red; */
    padding: 1rem 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;

}

.cart-product-card-info-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    padding: 1rem 0;
}

.cart-product-card-image-container {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: end;
}

.cart-product-card-image-container img {
    height: 100%;
}


.cart-price-container {
    width: 35%;
    padding: 1rem 1rem 0 0;
    /* background-color: red; */

}

.cart-price-card {
    width: 90%;
    height: auto;
    min-height: 300px;
    min-width: 250px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    border: 1px solid black;
    border-radius: 10px;
    overflow: hidden;
}

.cart-price-card-heading-container h3 {
    color: black;
}


.cart-price-card-heading-container {
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid black;
    padding: 1rem;
}



.cart-price-card-data-container {
    height: 70%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}



.cart-price-data-list {
    list-style: none;
    width: 100%;
    padding: 1rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.cart-price-data-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0.5rem 1rem;
    width: 100%;

    font-size: clamp(0.9rem, 0.3vw + 0.8rem, 1rem);
    font-weight: 500;
    color: #333;

    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.cart-price-data-list-item:last-child {
    border-bottom: none;
}

.cart-detail {
    color: #555;
}

.cart-detail-value {
    font-weight: 600;
    color: #111;
}

.cart-price-card-total-container {
    height: 15%;
    width: 100%;
    border-top: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}


@media (max-width:880px) {
    .cart-data-container {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .cart-products-container {
        width: 100%;
    }

    .cart-products-container img{
        width: 50%;
    }
}