.cart-page {
    width: 100%;
    min-height: 100vh;
    overflow: hidden;

    display: flex;
    align-items: start;
    justify-content: center;
}

.cart-page-container {
    width: 100%;
    height: 100vh;
    background-color: white;
    max-width: 2000px;
}

.heading-container {
    width: 100%;
    height: 20vh;
    max-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 0;
}

.cart-data-container {
    width: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.cart-products-container {
    width: 60%;
    height: calc(80vh - 10px);
    padding: 1rem 0 0 1rem;
    justify-content: center;
    align-items: start;
    overflow-y: scroll;
}

.products-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.cart-price-container {
    width: 100%;
    height: calc(80vh - 10px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart-product-card-wrapper {
    width: 90%;
    max-height: 200px;
    padding: 1rem 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: auto;
    position: relative;

}

.cart-product-info {
    height: auto;
    max-height: 250px;
    width: 70%;
    /* padding: 1rem 0; */

}

.cart-product-image {
    max-height: 250px;
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-product-image img {
    width: 70%;
    height: 100%;
    object-fit: cover;
}

.cart-product-card-info-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem 0;
    width: 70%;
}


.cart-price-container {
    width: 40%;
    padding: 1rem 0 0 0;

}

.cart-price-card {
    width: 90%;
    height: auto;
    max-width: 500px;
    min-height: 300px;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    border: 1px solid var(--border-color);
    /* border-radius: 10px; */
    overflow: hidden;
}

.cart-price-card-heading-container h3 {
    color: black;
}

.cart-price-card-heading-container {
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--border-color);
    padding: 1rem;
}

.cart-price-card-data-container {
    height: 70%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.cart-price-data-list {
    list-style: none;
    width: 100%;
    padding: 1rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.cart-price-data-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0.5rem 1rem;
    width: 100%;

    font-size: clamp(0.9rem, 0.3vw + 0.8rem, 1rem);
    font-weight: 500;
    color: #333;

    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.cart-price-data-list-item:last-child {
    border-bottom: none;
}

.cart-detail {
    color: #555;
}

.cart-detail-value {
    font-weight: 600;
    color: #111;
}

.cart-price-card-total-container {
    height: 15%;
    width: 100%;
    border-top: 1px solid var(--border-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.checkout-button-container {
    width: 90%;
    margin-top: 1rem;
    display: flex;
    justify-content: center;

}

.checkout-button {
    background-color: var(--purple-theme);
    width: 50%;
    color: var(--color-one);
    padding: 1rem 2rem;
    border-radius: 50px;
    border: none;
    cursor: pointer;
}

.checkout-button:hover {
    transform: scale(1.1);
}

.quantity-counter {
    display: flex;
    align-items: center;
    gap: clamp(0.3rem, 1vw, 0.6rem);
    background: var(--white-theme);
    /* border: 1px solid var(--border-color); */
    /* padding: clamp(0.2rem, 1vw, 0.5rem) clamp(0.4rem, 1vw, 0.9rem); */
    border-radius: 12px;
    width: fit-content;
}

.qty-btn {
    background: var(--button-theme-blue);
    border: none;
    color: white;
    width: clamp(24px, 5vw, 30px);
    height: clamp(24px, 5vw, 30px);
    font-size: clamp(1rem, 3vw, 1.2rem);
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.disabled{
    background-color: #555;
}

.qty-btn:hover {
    background: var(--button-hover-theme-blue);
}

.qty-value {
    min-width: clamp(20px, 4vw, 26px);
    text-align: center;
    font-size: clamp(0.9rem, 3vw, 1.1rem);
    font-weight: 600;
    color: var(--text-color);
}


.cart-delete-button {
    background: red;
    border-bottom-left-radius: 50px;
    padding: 14px;
    width: fit-content;
    display: flex;
    justify-content: end;
    align-items: center;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    color: white;
    transition: color 0.25s ease;
    transition: transform 0.25s ease;
}

.cart-delete-button svg {
    font-size: 18px;
}

.cart-delete-button:hover {
    color: red;
    background-color: white;
    transition: background 0.5s ease;
}

.congrats-text {
    color: #2e7d32;
    background-color: #c8f7c5;
    padding: 6px 14px;
    border-radius: 50px;
    margin-top: 22px;
    font-weight: 600;
}


@media (max-width:880px) {

    .cart-page {
        overflow: scroll;
    }

    .products-container {
        width: 100%;
    }

    .cart-product-card-wrapper {
        padding: 0;
    }

    .cart-data-container {
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .cart-products-container {
        width: 100%;
        height: auto;
        padding: 0rem;
        justify-content: center;
        align-items: start;
        overflow-y: hidden;

    }

    .cart-product-image {
        height: 160px;
    }

    .cart-product-image img {
        height: 80%;
    }



    .cart-price-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;

        height: fit-content;
        margin-top: 1rem;
        margin-bottom: 100px;
    }

    .cart-price-card {
        width: 60%;
        min-width: 300px;
    }

    .cart-delete-button {
        padding: 10px;
    }

    .cart-delete-button svg {
        font-size: 18px;
    }
}



@media (max-width:500px) {

    .cart-products-container {
        width: 100%;
    }

    .cart-delete-button {
        padding: 8px;
    }

    .cart-delete-button svg {
        font-size: 14px;
    }

}

.button-container-checkout{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;

}