.cart-page {
    width: 100%;
    height: 100vh;
    background-color: red;
    display: flex;
    align-items: start;
    justify-content: center;
}

.cart-page-container {
    width: 100%;
    height: 100vh;
    background-color: white;
    max-width: 2000px;
}


.heading-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 1.5rem 0;
}

.cart-data-container {
    width: 100%;
    overflow-y: auto;
    display: grid;
    grid-template-columns: 1.2fr 0.8fr;
    grid-template-rows: 1fr;

}

.cart-products-container {
    width: 100%;
    height: 100vh;
    padding: 1rem 2rem;

}

.products-container{
    width: 100%;
    height: 100%;
    /* background-color: cyan; */
    display: flex;
    flex-direction: column;
    /* gap: 1rem; */
    align-items: center;
    /* justify-content: start; */
}

.cart-price-container {
    width: 100%;
    height: 100vh;
}

.cart-product-card-wrapper{
    width: 90%;
    max-height: 200px;
    /* border: 1px solid red; */
    padding: 1rem 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;

}

.cart-product-card-info-container{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    
    padding: 1rem 0;
}

.cart-product-card-image-container{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: end;
}

.cart-product-card-image-container img{
    height: 100%;
}