.cart-page {
    width: 100%;
    min-height: 100vh;
    overflow: hidden;

    display: flex;
    align-items: start;
    justify-content: center;
}

.cart-page-container {
    width: 100%;
    height: 100vh;
    background-color: white;
    max-width: 2000px;
}

.heading-container {
    width: 100%;
    height: 20vh;
    max-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 0;
}

.cart-data-container {
    width: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.cart-products-container {
    width: 60%;
    height: calc(80vh - 10px);
    padding: 1rem 2rem;
    justify-content: center;
    align-items: start;
    overflow-y: scroll;

}

.products-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart-price-container {
    width: 100%;
    height: 100vh;
}

.cart-product-card-wrapper {
    width: 90%;
    max-height: 200px;
    /* border: 1px solid red; */
    padding: 1rem 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;

}

.cart-product-card-info-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    padding: 1rem 0;
}

.cart-product-card-image-container {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: end;
}

.cart-product-card-image-container img {
    height: 100%;
}


.cart-price-container {
    width: 40%;
    padding: 1rem 0 0 0;
    /* background-color: red; */

}

.cart-price-card {
    width: 90%;
    height: auto;
    min-height: 300px;
    min-width: 250px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    overflow: hidden;
}

.cart-price-card-heading-container h3 {
    color: black;
}


.cart-price-card-heading-container {
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--border-color);
    padding: 1rem;
}



.cart-price-card-data-container {
    height: 70%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}



.cart-price-data-list {
    list-style: none;
    width: 100%;
    padding: 1rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.cart-price-data-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0.5rem 1rem;
    width: 100%;

    font-size: clamp(0.9rem, 0.3vw + 0.8rem, 1rem);
    font-weight: 500;
    color: #333;

    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.cart-price-data-list-item:last-child {
    border-bottom: none;
}

.cart-detail {
    color: #555;
}

.cart-detail-value {
    font-weight: 600;
    color: #111;
}

.cart-price-card-total-container {
    height: 15%;
    width: 100%;
    border-top: 1px solid var(--border-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.checkout-button-container {
    width: 90%;
    margin-top: 1rem;
    display: flex;
    justify-content: center;

}

.checkout-button {
    background-color: var(--purple-theme);
    width: 50%;
    color: var(--color-one);
    padding: 1rem 2rem;
    border-radius: 50px;
    border: none;
    cursor: pointer;
}

.checkout-button:hover {
    transform: scale(1.1);
}



@media (max-width:880px) {

    .cart-page {
        overflow: scroll;
    }

    .cart-data-container {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .cart-products-container {
        width: 60%;
        height: auto;
        padding: 0rem;
        justify-content: center;
        align-items: start;
        overflow-y: hidden;

    }

    .cart-products-container {
        width: 100%;
    }

    .cart-products-container img {
        width: 50%;
    }

    .cart-price-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;

        height: fit-content;
        margin-top: 1rem;
        margin-bottom: 100px;
    }

    .cart-price-card {
        width: 60%;
        min-width: 300px;
    }
}