.category-products-page {
    width: 100%;
    height: 100dvh;
    height: 100vh;
    max-width: 2000px;
    display: grid;
    /* justify-content: center; */
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "banner banner banner banner banner banner banner banner banner banner"
        "sideMenu sideMenu productDisplay productDisplay productDisplay productDisplay productDisplay productDisplay productDisplay productDisplay"
        "sideMenu sideMenu productDisplay productDisplay productDisplay productDisplay productDisplay productDisplay productDisplay productDisplay"
        "sideMenu sideMenu productDisplay productDisplay productDisplay productDisplay productDisplay productDisplay productDisplay productDisplay"
        "sideMenu sideMenu productDisplay productDisplay productDisplay productDisplay productDisplay productDisplay productDisplay productDisplay"
        "sideMenu sideMenu productDisplay productDisplay productDisplay productDisplay productDisplay productDisplay productDisplay productDisplay"
        "sideMenu sideMenu productDisplay productDisplay productDisplay productDisplay productDisplay productDisplay productDisplay productDisplay"
        "sideMenu sideMenu productDisplay productDisplay productDisplay productDisplay productDisplay productDisplay productDisplay productDisplay"
    ;
}


.banner-section {
    width: 100%;
    background: linear-gradient(-225deg, #473B7B 1%, #3584A7 41%, #30D2BE 100%);
    clip-path: polygon(100% 0%, 98% 50%, 100% 100%, 0 100%, 0% 50%, 0 0);
    display: flex;
    justify-content: center;
    align-items: center;
}


.subcategory-side-menu {
    width: 100%;
    border-right: 1px solid var(--border-color);
    padding: 2rem 1rem;
    overflow: hidden;
    overflow-y: auto;
}

.hide-scroll-bar::-webkit-scrollbar {
    display: none;
}

.product-display-section {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.product-display {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: auto;
    gap: 1rem;
    padding: 1rem;
    height: 100%;
}

.filter-options-container {
    width: 100%;
    height: 40px;
    padding-inline-start: 1rem;
}

.pagination-container {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subcategory-side-menu-list {
    height: auto;
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.subcategory-side-menu li {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 1rem;
    cursor: pointer;
}

.menu-list-image-container {
    width: 20%;
    margin-top: 6px;
}

.menu-list-image-container img {
    width: 70%;
}

.menu-list-name-container {
    margin-top: 7%;
    font-size: clamp(0.6rem, 0.7rem + 0.4vw, 1rem);

    font-weight: 500;
    line-height: 1.3;

    /* Optional but usually nice for side menus */
    white-space: nowrap;
    /* keep on one line */
    overflow: hidden;
    /* hide overflow */
    text-overflow: ellipsis;
}


@media(max-width:940px) {
    .subcategory-side-menu li {
        flex-direction: column;
        align-items: center;
        position: relative;
        min-height: 70px;
    }

    .menu-list-image-container img {
        width: 100%;
    }

    .menu-list-name-container {
        position: absolute;
        bottom: -8px;
        left: 50%;
        transform: translateX(-50%);

        display: inline-block;
        max-width: 95%;
        padding: 2px 6px;
        border-radius: 4px;
        text-align: center;
    }
}