.explore-range-container {
    width: 100%;

    overflow: hidden;
    max-width: 2000px;
    aspect-ratio: 3.1 !important;
    margin-top: 50px;

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr;
    gap: 5px;

    justify-items: center;
    align-items: center;

    grid-template-areas:
        "image-1 image-1 image-2 image-3 image-5 image-5 image-8 image-9"
        "image-1 image-1 image-4 image-4 image-6 image-7 image-10 image-10"
    ;
}

.explore-item {
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 2%;
    overflow: hidden;
    aspect-ratio: 1;
}

.explore-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

}

.portrait-image {
    background-color: red;
    height: 100% !important;


}

.small-portrait-image {
    aspect-ratio: 138.5 / 185.5 !important;
    width: 100% !important;
    height: 100% !important;
}

.landscape-portrait-image {
    aspect-ratio: 281/185 !important;
    width: 100% !important;
    height: 100% !important;
}
