.footer-section {
    width: 100%;
    padding: 20px 20px 20px 20px;
    background-color: var(--white-theme);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid var(--black-border-theme);
}

.footer-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
}

.image-logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 30%;
}

.footer-image {
    width: 100%;
    max-width: 400px;
    margin-bottom: 20px;
}

.footer-image img {
    width: 100%;
}

.footer-logo {
    width: 100%;
    max-width: 150px;
}

.footer-logo img {
    width: 100%;
}

.footer-list-container {
    width: 70%;
    display: flex;
    justify-content: start;
    align-items: start;
}

.list-text-container {
    width: 50%;
    padding-left: 80px;
}

.list-text-container2 {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.list-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.footer-list-item {
    margin-bottom: 5px;
}

.footer-text p {
    width: 75%;
}