.home-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: auto;
    padding: 20px 20px 0 20px;
    position: absolute;
    top: 0;
}

.nav-button {
    padding: 0px 32px;
    border-radius: 50px;
    cursor: pointer;
    background-color: var(--purple-theme);
    border: 1px solid var(--black-theme);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

.nav-menu{
    /* background-color: red; */
    min-width: 160px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.dropDown {
    background: white;
    min-width: 160px;
    padding: 20px 20px 10px 20px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.menu-list-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.menu-list-container span {
    cursor: pointer;
    margin-bottom: 10px;
    padding: 8px 8px;
    display: flex;
    justify-content: start;
    align-items: center;
    border-radius: 50px;

}

.dropDown span:hover {
    background-color: var(--purple-theme);
    color: white;
    /* transition: background-color 0.6s; */
}

.userAvatar {
    background-color: white;
    width: auto;
    padding: 10px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    cursor: pointer;
}


.parallax1 {
    height: 100vh;
    background-image: var(--landing-image);
    background-attachment: fixed;
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    filter: brightness(0.8);
    z-index: -2;
}

.parallax1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.38);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    z-index: -2;
}

.landing-text-section {
    position: absolute;
    background-color: transparent;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--color-one);
    padding: 20px;
    box-sizing: border-box;
    pointer-events: none;
    z-index: -1;
}

.text-container {
    margin-bottom: 40px;
    position: fixed;
}

.sub-text {
    margin-top: 80px;
    color: var(--color-one);
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.landing-paragraph {
    color: var(--color-one);
    width: 30%;
    min-width: 400px;
    position: fixed;
    bottom: 20px;
    left: 30px;
    text-align: left;
}


.gallery-section {
    height: auto;
    background: rgb(220, 220, 220);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 5;
    padding: 10px 0 100px 0;
    overflow: hidden;

}

.gallery-container {
    width: 90%;
    display: flex;
    flex-direction: column;
}



/* 
.text-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 1;

}

.sub-text {
    margin-top: 80px;
    color: var(--color-one);
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.landing-paragraph {
    color: var(--color-one);
    width: 30%;
    min-width: 400px;
    position: fixed;
    bottom: 20px;
    left: 30px;
    text-align: left;

}
 */

.parallax2 {
    height: 20vh;
    border-radius: 50px;
    overflow: hidden;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

.parallax-overlay {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(0.6);
    z-index: -1;
}

@media (max-width: 900px) {
    .parallax2 {
        height: 20vh;
    }
}


@media (max-width: 700px) {
    .parallax1 {
        background-attachment: fixed;
        background-size: cover;
        background-position: center 0;
        background-image: var(--landing-image2);
    }

    .parallax1::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
        z-index: 0;
    }
}

@media (max-width: 600px) {
    .landing-paragraph {
        min-width: 250px;
        left: 10px;

    }

    .parallax2 {
        height: 15vh;
    }
}


/* .arrow {
    width: 10px;
    height: 10px;
    background-color: white;
    transform: rotateZ(45deg);
    position: absolute;
    top: -4%;
    right: 20px;

} */