/*=================================================================================
CATEGORY PAGE
=================================================================================*/

.category-page {
    height: 100vh;
    width: inherit;
}

.add-category-button {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0 2rem;
    max-width: 1600px;
}

.add-category-button button {
    background-color: #121a17;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-category-button button {
    background-color: #1a2420;
}

.category-modal-container {

    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 700px;
    min-width: 300px;

}

.display-category-container {
    width: 100%;
    margin-top: 20px;
    height: 70vh;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    gap: 1rem;
    flex-wrap: wrap;
    overflow-y: auto;
}


/*=================================================================================
Upload products pagedesigns
=================================================================================*/
.edit-form {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-form form {
    width: 80%;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    padding: 1rem;
    margin-top: 1rem;
    max-width: 1500px;
    border-radius: 10px;
    background-color: var(--card-background);
}

.full-sized-input {
    width: 100%;
    height: fit-content;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
}

.form-image-uploader {
    width: 100%;
    height: fit-content;
    display: flex;
    gap: 1rem;

}

.form-image-preview-container {
    width: 80%;
    display: flex;
    gap: 1rem;
    overflow-x: auto;
}

.form-image-preview {
    display: flex;
    flex-direction: row;
    justify-content: start;
    min-width: 90px;
    max-width: 130px;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
}

.form-image-preview img {
    width: 100%;
    object-fit: cover;
    transition: filter 0.25s ease;
}

.form-image-preview:hover .hover-delete-option {
    transform: translate(0%, 0%);
}

.form-image-preview:hover img {
    filter: brightness(70%);
}



.hover-delete-option {
    background-color: red;
    border-bottom-left-radius: 50px;
    padding: 12px;
    width: fit-content;
    display: flex;
    justify-content: end;
    align-items: center;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(100%, -100%);
    transition: transform 0.25s ease;
}

.hover-delete-option svg {
    color: white;
}