@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html {
    scroll-behavior: smooth;
    height: 100% !important;
    width: 100% !important;
}

* {
    font-family: "sans-serif", "Lato";
    font-weight: 600;
    font-style: normal;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all 0.5s;

}

body {
    height: 100% !important;
    width: 100% !important;
}

:root {
    --secondary-color: #f7b42c;
    --background-color: #f5f5f5;
    --text-color: #333333;
    --border-color: #e4dddd;
    --button-color: #3A7F99;
    --text-green: #5dc067;
    --white-theme: #ffffff;
    --card-background: rgba(225, 225, 225, 0.625);

    --button-theme-blue: #3A7F99;
    --button-hover-theme-blue: #035776;
    /* --button-color: #4CAF50; */
    --button-hover-color: #035776;
    --color-one: #F7F7F7;
    --purple-theme: #979df7;
    --black-theme: #1C1C1C;
    --black-border-theme: rgba(101, 97, 97, 0.195);

    --btn-delete-bg: #e53935;
    /* main */
    --btn-delete-hover: #c61111;
    /* darker hover */
    --btn-delete-active: #b71c1c;
    /* pressed */

    --btn-success-bg: #43a047;
    /* main */
    --btn-success-hover: #388e3c;
    /* darker hover */
    --btn-success-active: #2e7d32;
    /* pressed */

    /* --gradient-primary: linear-gradient(100deg, #673AB7, #9575CD, #D1C4E9); */

    --gradient-primary: linear-gradient(-225deg, #473B7B 0%, #3584A7 51%, #30D2BE 100%);

    --gradient-purple: linear-gradient(135deg, #667eea 0%, #764ba2 100%);

    /* --landing-image: url("../Assets/Background/landing_background_mirror.png"); */
    --landing-image: url("../Assets/Background/landing_background.jpg");
    --landing-image2: url("../Assets/Background/mobile_landing_image.png");
    --product-image: url("https://images.unsplash.com/photo-1608198093002-ad4e005484ec?q=80&w=1632&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");

}


.highlighter {
    font-family: "Nunito Sans", sans-serif;
    color: var(--purple-theme);
}

.alphabet {
    font-family: "Bebas Neue", sans-serif;
}

.flexBoxCentered {
    display: flex;
    align-items: center;
    justify-content: center;
}

.margin-top-50 {
    margin-top: 50px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.largest-heading {
    font-family: "Nunito Sans", sans-serif;
    font-size: 90px;
    font-weight: 600;
    line-height: 85px;
}

.smallest-heading {
    font-family: "Nunito Sans", sans-serif;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 12px;
}


.text-size-1 {
    font-family: "Nunito Sans", sans-serif;
    font-size: 38px;
    color: var(--color-one);
    font-weight: 650;
}

.text-size-2 {
    font-family: "Nunito Sans", sans-serif;
    font-size: 20px;
    font-weight: 600;
}

.text-size-3 {
    font-family: "Nunito Sans", sans-serif;
    font-size: 18px;
    font-weight: 700;
}

.text-size-4 {
    font-family: "Nunito Sans", sans-serif;
    font-size: 16px;
    font-weight: 650;
    margin-bottom: 8px;
}

.swiftdrop-logo h1 {
    color: white;
    font-size: 38px;
    letter-spacing: 1px;
}

.swiftdrop-logo span {
    font-size: 48px;
}


/* Tablet screens */
@media (max-width: 1024px) {
    .swiftdrop-logo h1 {
        font-size: 30px;
    }

    .swiftdrop-logo span {
        font-size: 38px;
    }

    .largest-heading {
        font-size: 80px;
        line-height: 75px;
    }

    .text-size-1 {
        font-size: 28px;
    }

    .text-size-2 {
        font-family: "Nunito Sans", sans-serif;
        font-size: 18px;
        font-weight: 600;
    }

    .text-size-3 {
        font-size: 14px;
    }

    .text-size-4 {
        font-size: 14px;
    }

}

@media (max-width: 750px) {

    .largest-heading {
        font-size: 60px;
        line-height: 55px;
    }

    .smallest-heading {
        font-size: 15px;
    }

}

/* Mobile screens */
@media (max-width: 600px) {
    .swiftdrop-logo h1 {
        font-size: 24px;
    }

    .swiftdrop-logo span {
        font-size: 30px;
    }

    .largest-heading {
        font-size: 40px;
        line-height: 40px;
    }

    .smallest-heading {
        font-size: 14px;
    }

    .text-size-1 {
        font-size: 22px;
    }

    .text-size-2 {
        font-family: "Nunito Sans", sans-serif;
        font-size: 16px;
        font-weight: 600;
    }

    .text-size-3 {
        font-size: 12px;
    }

    .text-size-4 {
        font-size: 12px;
    }

}

/* Mobile screens */
@media (max-width: 450px) {
    .swiftdrop-logo h1 {
        font-size: 20px;
    }

    .swiftdrop-logo span {
        font-size: 24px;
    }

    .largest-heading {
        font-size: 30px;
        line-height: 30px;
    }

    .smallest-heading {
        font-size: 12px;
    }

    .text-size-1 {
        font-size: 18px;
    }

    .text-size-2 {
        font-family: "Nunito Sans", sans-serif;
        font-size: 12px;
        font-weight: 600;
    }

    .text-size-3 {
        font-size: 10px;
    }

    .text-size-4 {
        font-size: 10px;
    }
}

/* Mobile screens */
@media (max-width: 350px) {
    .swiftdrop-logo h1 {
        font-size: 18px;
    }

    .swiftdrop-logo span {
        font-size: 20px;
    }

    .text-size-1 {
        font-size: 16px;
    }

    .text-size-2 {
        font-size: 11px;
    }

    .text-size-3 {
        font-size: 9px;
    }

}

.custom-button {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: none;
    border-radius: 8px;
    padding: 0px;
    cursor: pointer;
    overflow: hidden;
    height: auto;
    height: 100%;
    max-height: 40px;
}

.custom-button span {
    display: block;
    transition: transform 0.2s ease-in-out;
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 0.8px;

}

.custom-button-upper-text {
    transform: translateY(50%);
}

.custom-button-lower-text {
    transform: translateY(90%);
}

.custom-button:hover .custom-button-upper-text,
.nav-button:hover .custom-button .custom-button-upper-text {
    transform: translateY(-110%);
}

.custom-button:hover .custom-button-lower-text,
.nav-button:hover .custom-button .custom-button-lower-text {
    transform: translateY(-50%);
}